/* style.css */

body {
    background-color: #201f1f;
}

/* Navigation Bar */
.navbar {
    height: 90px; /* Set a minimum height for the navbar */
}
  
.logo {
    max-width: 100%;
    height: 60px; /* Adjust logo height */
    margin-left: 20px;
  }

.navbar-right {
    margin-top: 20px;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
}

.navbar-nav > li > a {
    margin-right: 10px;
    padding-left: 20px; /* Add left padding for better spacing */
    padding-right: 20px; /* Add right padding for better spacing */
    font-size: 15px; /* Increase font size */
    text-decoration: none;
    position: relative;
}

.navbar-nav > li > a::before, a::after {
    content: "";
    position: absolute;
    display: block;
    border: 0 solid transparent;
    width: 0%;
    height: 0%;
    transition: all 0.3s ease;
}

.navbar-nav > li > a::after {
        top: 0;
        left: 0;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
}
    
.navbar-nav > li > a::before {
        right: 0;
        bottom: 0;
        border-bottom: 5px solid transparent;
        border-right: 5px solid transparent;
}
    
.navbar-nav > li > a:hover::before, a:hover::after {
        width: 40px;
        height: 40px;
        border-color: #401B01;
}


 